<section class="phx-hero">
  <h1>Welcome to the Sparkline Generator</h1>
  <p>Create Sparklines from just numbers</p>
</section>

<section class="row">
  <article class="column">
    <h2>Get Started</h2>
    <ul>
      <li>
        <a href="/input">Create Sparkline</a>
      </li>
    </ul>
  </article>
</section>
